.navbar {
	background: #FFFFFF;
}

.navbar__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2em;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.navbar__brand {
	font-family: 'Anton';
	text-transform: uppercase;
	font-size: 2em;
	color: #e2147c;
}
